<nav class="usajobs-openopps-help-center-nav-secondary" role="navigation">
  <div class="usajobs-openopps-help-center-nav-secondary__body">
    <ul class="usajobs-openopps-help-center-nav-secondary__menu">
      <li
        class="usajobs-openopps-help-center-nav-secondary__container getting-started {% if page.section == 'getting-started' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/' | relative_url }}"
        >
          Getting started
        </a>
      </li>
      <li
        class="usajobs-openopps-help-center-nav-secondary__container account {% if page.section == 'account' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/account/' | relative_url }}"
        >
          Account
        </a>
      </li>
      <li
      class="usajobs-openopps-help-center-nav-secondary__container agency-administrators {% if page.section == 'agency-administrators' %}is-active{% endif %}"
    >
      <a
        class="usajobs-openopps-help-center-nav-secondary__item"
        href="{{ '/agency-administrators/' | relative_url }}"
      >
        Agency administrators
      </a>
    </li>
      <li
	      class="usajobs-openopps-help-center-nav-secondary__container agency-branded-search {% if page.section == 'agency-branded-search' %}is-active{% endif %}"
	    >
	      <a
	        class="usajobs-openopps-help-center-nav-secondary__item"
	        href="{{ '/agency-branded-search/' | relative_url }}"
	      >
	        Agency branded search
	      </a>
	    </li>


      <li
        class="usajobs-openopps-help-center-nav-secondary__container campaigns {% if page.section == 'campaigns' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/campaigns/' | relative_url }}"
        >
          Campaigns
        </a>
      </li>
      <li
      class="usajobs-openopps-help-center-nav-secondary__container events {% if page.section == 'events' %}is-active{% endif %}"
    >
      <a
        class="usajobs-openopps-help-center-nav-secondary__item"
        href="{{ '/events/' | relative_url }}"
      >
        Events
      </a>
    </li>
    <li
    class="usajobs-openopps-help-center-nav-secondary__container search-resumes {% if page.section == 'search-resumes' %}is-active{% endif %}"
  >
    <a
      class="usajobs-openopps-help-center-nav-secondary__item"
      href="{{ '/search-resumes/' | relative_url }}"
    >
      Search resumes
    </a>
  </li>
      
      <li
        class="usajobs-openopps-help-center-nav-secondary__container what-is-new {% if page.section == 'what-is-new' %}is-active{% endif %}"
      >
        <a
          class="usajobs-openopps-help-center-nav-secondary__item"
          href="{{ '/what-is-new/' | relative_url }}"
        >
          What's new
        </a>
      </li>
    </ul>
  </div>
</nav>
