<div class="usajobs-openopps-help-center-article-sidenav">
    {% if page.section == 'getting-started' %}
      <h3 class="usajobs-openopps-help-center-article-sidenav__title">
        Getting started
      </h3>
      <ul class="usa-sidenav-list">
        <li>
          <a {% if page.sidenav == 'getting-started' %}class="usa-current"{% endif %} href="{{ '/' | relative_url }}">
            What is ATP?
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'getting-started-who-can-use-atp' %}class="usa-current"{% endif %} href="{{ '/getting-started/who-can-use-atp' | relative_url }}">
            Who can use ATP?
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'getting-started-why-use-atp' %}class="usa-current"{% endif %} href="{{ '/getting-started/why-use-atp' | relative_url }}">
            Why use ATP?
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'getting-started-atp-hiring-policies' %}class="usa-current"{% endif %} href="{{ '/getting-started/atp-hiring-policies' | relative_url }}">
            How does ATP work with hiring policies?
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'getting-started-web-browser' %}class="usa-current"{% endif %} href="{{ '/getting-started/web-browser' | relative_url }}">
            Which web browsers work best with ATP?
          </a>
        </li>
       
      </ul>
    {% endif %}
    {% if page.section == 'account' %}
      <h3 class="usajobs-openopps-help-center-article-sidenav__title">
        Account
      </h3>
      <ul class="usa-sidenav-list">
        <li>
          <a {% if page.sidenav == 'account' %}class="usa-current"{% endif %} href="{{ '/account/' | relative_url }}">
            How to get an ATP account
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'account-sign-into-atp' %}class="usa-current"{% endif %} href="{{ '/account/sign-into-atp' | relative_url }}">
            How to sign into ATP
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'account-locked' %}class="usa-current"{% endif %} href="{{ '/account/locked' | relative_url }}">
            How to unlock your account
          </a>
        </li>
        <li>
	          <a {% if page.sidenav == 'account-update-email' %}class="usa-current"{% endif %} href="{{ '/account/update-email' | relative_url }}">
	            How to update the email associated with your account
	          </a>
	        </li>
        <li>
          <a {% if page.sidenav == 'account-what-is-the-aup' %}class="usa-current"{% endif %} href="{{ '/account/what-is-the-aup' | relative_url }}">
            What is the acceptable use policy (AUP)?
          </a>
        </li>
      </ul>
      {% endif %}
      {% if page.section == 'agency-administrators' %}
      <h3 class="usajobs-openopps-help-center-article-sidenav__title">
        Agency administrators
      </h3>
      <ul class="usa-sidenav-list">
        <li>
          <a {% if page.sidenav == 'agency-administrators' %}class="usa-current"{% endif %} href="{{ '/agency-administrators/' | relative_url }}">
            What is an agency administrator?
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'agency-administrators-how-agency-admin' %}class="usa-current"{% endif %} href="{{ '/agency-administrators/how-agency-admin' | relative_url }}">
            How to become an agency administrator
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'agency-administrators-different-roles' %}class="usa-current"{% endif %} href="{{ '/agency-administrators/different-roles' | relative_url }}">
            What are the different roles in ATP?
          </a>
        </li>
      </ul>
	{% endif %}
	    {% if page.section == 'branded-search' %}
	      <h3 class="usajobs-openopps-help-center-article-sidenav__title">
	Branded search
	      </h3>
	      <ul class="usa-sidenav-list">
	        <li>
	          <a {% if page.sidenav == 'branded-search' %}class="usa-current"{% endif %} href="{{ '/agency-branded-search' | relative_url }}">
	            What is a branded search page?
	          </a>
	        </li>
	        <li>
	          <a {% if page.sidenav == 'branded-search-cost' %}class="usa-current"{% endif %} href="{{ '/agency-branded-search/cost' | relative_url }}">
	            Is there an additional cost to create a branded search page?
	          </a>
	        </li>
	        <li>
	          <a {% if page.sidenav == 'branded-search-create' %}class="usa-current"{% endif %} href="{{ '/agency-branded-search/create' | relative_url }}">
	            How to create a branded search page
	          </a>
	        </li>
	       	        <li>
	          <a {% if page.sidenav == 'branded-search-data' %}class="usa-current"{% endif %} href="{{ '/agency-branded-search/data' | relative_url }}">
	            Do you track the number of visitors or similar traffic to the branded search page?
	          </a>
	        </li>
		 <li>
	          <a {% if page.sidenav == 'branded-search-delete-url' %}class="usa-current"{% endif %} href="{{ '/agency-branded-search/delete-url' | relative_url }}">
	            Can I delete or remove the branded search URL?
	          </a>
	        </li> 
		<li>
	          <a {% if page.sidenav == 'branded-search-filters' %}class="usa-current"{% endif %} href="{{ '/agency-branded-search/filters' | relative_url }}">
	            How do filters work?
	          </a>
	        </li>
		<li>
	          <a {% if page.sidenav == 'branded-search-how-to-find' %}class="usa-current"{% endif %} href="{{ '/agency-branded-search/how-to-find' | relative_url }}">
	            How do job seekers find branded search pages?
	          </a>
	        </li>       
		<li>
	          <a {% if page.sidenav == 'branded-search-update-old-template' %}class="usa-current"{% endif %} href="{{ '/agency-branded-search/update-old-template' | relative_url }}">
	            What if my agency has a branded search page using the old template?
	          </a>
		</li>
		      <li>
	          <a {% if page.sidenav == 'branded-search-portals' %}class="usa-current"{% endif %} href="{{ '/agency-branded-search/portals' | relative_url }}">
	            List of USAJOBS job search portals
	          </a>
		</li>	
		
	</ul>
    {% endif %}
    {% if page.section == 'campaigns' %}
      <h3 class="usajobs-openopps-help-center-article-sidenav__title">
        Campaigns
      </h3>
      <ul class="usa-sidenav-list">
        <li>
          <a {% if page.sidenav == 'campaigns' %}class="usa-current"{% endif %} href="{{ '/campaigns' | relative_url }}">
            What is a campaign?
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'campaigns-setup' %}class="usa-current"{% endif %} href="{{ '/campaigns/setup' | relative_url }}">
            How to create a campaign
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'campaigns-save' %}class="usa-current"{% endif %} href="{{ '/campaigns/save' | relative_url }}">
            How to add a job seeker to a campaign
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'campaigns-share' %}class="usa-current"{% endif %} href="{{ '/campaigns/share' | relative_url }}">
            How to share a campaign with another user
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'campaigns-archive' %}class="usa-current"{% endif %} href="{{ '/campaigns/archive' | relative_url }}">
            How to archive a campaign
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'campaigns-list' %}class="usa-current"{% endif %} href="{{ '/campaigns/list' | relative_url }}">
            What is a list?
          </a>
        </li>
	 <li>
          <a {% if page.sidenav == 'campaigns-messaging' %}class="usa-current"{% endif %} href="{{ '/campaigns/messaging' | relative_url }}">
            What is the messaging feature?
          </a>
        </li> 
	<li>
          <a {% if page.sidenav == 'campaigns-create-message' %}class="usa-current"{% endif %} href="{{ '/campaigns/create-message' | relative_url }}">
            How do I create and send a message?
          </a>
        </li>
	<li>
          <a {% if page.sidenav == 'campaigns-see-messages' %}class="usa-current"{% endif %} href="{{ '/campaigns/see-messages' | relative_url }}">
            How do I see my messages?
          </a>
        </li>       
	<li>
          <a {% if page.sidenav == 'campaigns-who-can-I-message' %}class="usa-current"{% endif %} href="{{ '/campaigns/who-can-I-message' | relative_url }}">
            Who can I message?
          </a>
        </li>       
      </ul>
    {% endif %}
    {% if page.section == 'events' %}
      <h3 class="usajobs-openopps-help-center-article-sidenav__title">
        Events
      </h3>
      <ul class="usa-sidenav-list">   
        <li>
          <a {% if page.sidenav == 'events' %}class="usa-current"{% endif %} href="{{ '/events' | relative_url }}">
            What are events?
          </a>
        </li>
	 <li>
          <a {% if page.sidenav == 'events-types' %}class="usa-current"{% endif %} href="{{ '/events/types' | relative_url }}">
            What types of events can I create and post on USAJOBS?
          </a>
        </li>       
        <li>
          <a {% if page.sidenav == 'events-create' %}class="usa-current"{% endif %} href="{{ '/events/create' | relative_url }}">
            How to create and post an event
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'events-approves' %}class="usa-current"{% endif %} href="{{ '/events/approves' | relative_url }}">
            How long does it take to approve and post an event?
          </a>
        </li>
	 <li>
          <a {% if page.sidenav == 'events-who-can-create' %}class="usa-current"{% endif %} href="{{ '/events/who-can-create' | relative_url }}">
            Who can create and post events on USAJOBS?
          </a>
        </li> 
	<li>
          <a {% if page.sidenav == 'events-why-use' %}class="usa-current"{% endif %} href="{{ '/events/why-use' | relative_url }}">
            Why should I use events?
          </a>
        </li>      
	<li>
          <a {% if page.sidenav == 'events-social-media' %}class="usa-current"{% endif %} href="{{ '/events/social-media' | relative_url }}">
            Can my event be posted on USAJOBS social media?
          </a>
        </li>      
      </ul>
    {% endif %}
    {% if page.section == 'search-resumes' %}
      <h3 class="usajobs-openopps-help-center-article-sidenav__title">
        Search resumes
      </h3>
      <ul class="usa-sidenav-list">   
        <li>
          <a {% if page.sidenav == 'search-resumes' %}class="usa-current"{% endif %} href="{{ '/search-resumes' | relative_url }}">
            How to search for resumes and job seekers
          </a>
        </li>
        <!--<li>
          <a {% if page.sidenav == 'search-resumes-advanced-search' %}class="usa-current"{% endif %} href="{{ '/search-resumes/advanced-search' | relative_url }}">
            How to use advanced search
          </a>
        </li>-->
        <li>
          <a {% if page.sidenav == 'search-resumes-current-resumes' %}class="usa-current"{% endif %} href="{{ '/search-resumes/current-resumes' | relative_url }}">
            How current are the resumes and profiles?
          </a>
        </li>
        <!--<li>
          <a {% if page.sidenav == 'search-resumes-searchable' %}class="usa-current"{% endif %} href="{{ '/search-resumes/searchable' | relative_url }}">
            How long do resumes remain searchable?
          </a>
        </li>-->
        <li>
          <a {% if page.sidenav == 'search-resumes-export' %}class="usa-current"{% endif %} href="{{ '/search-resumes/export' | relative_url }}">
            How to print or export my search results
          </a>
        </li>
        <li>
          <a {% if page.sidenav == 'search-resumes-verify-candidate' %}class="usa-current"{% endif %} href="{{ '/search-resumes/verify-candidate' | relative_url }}">
            Is the candidate information verified or adjudicated?
          </a>
        </li>
      </ul>
    {% endif %}
	{% if page.section == 'talent-pool' %}
	      <h3 class="usajobs-openopps-help-center-article-sidenav__title">
	Talent pool
	      </h3>
	      <ul class="usa-sidenav-list">
	        <li>
	          <a {% if page.sidenav == 'talent-pool' %}class="usa-current"{% endif %} href="{{ '/talent-pool' | relative_url }}">
	            What is a talent pool?
	          </a>
	        </li>
	        <li>
	          <a {% if page.sidenav == 'talent-pool-why-use' %}class="usa-current"{% endif %} href="{{ '/talent-pool/why-use' | relative_url }}">
	            Why should I use a talent pool?
	          </a>
	        </li>
	        <li>
	          <a {% if page.sidenav == 'talent-pool-who-can-use' %}class="usa-current"{% endif %} href="{{ '/talent-pool/who-can-use' | relative_url }}">
	            Who can use talent pools?
	          </a>
	        </li>
	        <li>
	          <a {% if page.sidenav == 'talent-pool-how-can-agency-use' %}class="usa-current"{% endif %} href="{{ '/talent-pool/how-can-agency-use' | relative_url }}">
	            How can my agency use talent pools?
	          </a>
	        </li>
	        <li>
	          <a {% if page.sidenav == 'talent-pool-add-role' %}class="usa-current"{% endif %} href="{{ '/talent-pool/add-role' | relative_url }}">
	            How can I become a talent pool manager or shared certificate coordinator?
	          </a>
	        </li>
	        <li>
	          <a {% if page.sidenav == 'talent-pool-hiring-rules-guidelines' %}class="usa-current"{% endif %} href="{{ '/talent-pool/hiring-rules-guidelines' | relative_url }}">
	            Are there specific hiring rules and guidelines for using a talent pool?
	          </a>
	        </li>
		 <li>
	          <a {% if page.sidenav == 'talent-pool-job-announcement-type' %}class="usa-current"{% endif %} href="{{ '/talent-pool/job-announcement-type' | relative_url }}">
	            Can I create a talent pool for any job announcement?
	          </a>
	        </li> 
		<li>
	          <a {% if page.sidenav == 'talent-pool-expire' %}class="usa-current"{% endif %} href="{{ '/talent-pool/expire' | relative_url }}">
	            Do talent pools expire?
	          </a>
	        </li>	
	</ul>
    {% endif %}

    </div>
    
