<header class="usajobs-site-header" role="banner" aria-label="header">
  <!-- Gov banner BEGIN -->
  <div class="usa-banner">
    <div>
      <div class="usa-banner-header">
        <div
          class="usajobs-grid usa-banner-inner usajobs-nav--full_bleed__banner-inner"
        >
          <span class="usa-banner-header__img">
            <amp-img
              src="{{ '/assets/images/favicons/favicon-57.png' | relative_url }}"
              width="20"
              height="20"
              alt="U.S. flag"
            ></amp-img>
          </span>
          <p>An official website of the United States government</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Gov banner END -->
  <nav
    class="usajobs-nav usajobs-nav--vATP"
    role="navigation"
    aria-label="main navigation"
    data-object="nav"
  >
    <div class="usajobs-nav__body usajobs-nav--vATP">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header usajobs-nav--vATP">
            <div class="usajobs-nav__brand-container usajobs-nav--vATP__brand-container">
              <a
                class="usajobs-nav__brand usajobs-nav--vATP__brand"
                href="{{ '/' | relative_url }}"
              >
                <img
                  src="{{ '/assets/images/logo/svg/red-2x.svg' | relative_url }}"
                  layout="responsive"
                  alt="USAJOBS logo"
                  width="158"
                  height="36"
                  style="display:inline-block;"
                ></img
                >
                <em style="vertical-align:top; display:inline-block; font-style:normal; font-weight:700; font-size: 24px; color: #1b1b1b; margin:0;" class="usajobs-nav-ATP-text">Agency Talent Portal</em>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
